Motivo: <br><br>
<select required name="tipo_de_servicio">
	<option value="Asignación incorrecta de materias">Asignación incorrecta de materias</option>
	<option value="Sin seguimiento a equivalencia">Sin seguimiento a equivalencia</option>
	<option value="Asignación incorrecta de Licenciatura / Maestría / Educación continua">Asignación incorrecta de Licenciatura / Maestría / Educación continua</option>
	<option value="Error en ejecución de trámites">Error en ejecución de trámites</option>
	<option value="Tiempo de respuesta en trámites">Tiempo de respuesta en trámites</option>
</select><br><br>
Ingresa todos los comentarios necesarios pero breves y objetivos  * : <br><br> <textarea required name="observaciones" cols="30" rows="10"></textarea>
