Motivo: <br><br>
<select required name="tipo_de_servicio">
	<option value="Adeudo incorrecto">Adeudo incorrecto</option>
	<option value="Tiempo de respuesta de requerimiento">Tiempo de respuesta de requerimiento</option>
	<option value="Mal trato con alumno">Mal trato con alumno</option>
	<option value="Tiempo de respuesta interno">Tiempo de respuesta interno</option>
	<option value="Rechazo apoyo  económico">Rechazo apoyo  económico</option>
	<option value="Incumplimiento de acuerdos">Incumplimiento de acuerdos</option>
	<option value="No se realiza convenio, o no le conviene al alumno">No se realiza convenio, o no le conviene al alumno</option>
</select><br><br>
Ingresa todos los comentarios necesarios pero breves y objetivos  * : <br><br> <textarea required name="observaciones" cols="30" rows="10"></textarea>
