Motivo: <br><br>
<select required name="tipo_de_servicio">
	<option value="Mal trato con alumno">Mal trato con alumno</option>
	<option value="Falta de seguimiento">Falta de seguimiento</option>
	<option value="Información incorrecta">Información incorrecta</option>
	<option value="Tiempo de respuesta">Tiempo de respuesta</option>
</select>
<br><br>
Ingresa todos los comentarios necesarios pero breves y objetivos  * : <br><br> <textarea required name="observaciones" cols="30" rows="10"></textarea>
