Motivo: <br><br>
<select required name="tipo_de_servicio">
	<option value="Falta de información">Falta de información</option>
	<option value="Información incorrecta">Información incorrecta</option>
	<option value="Venta ingresada en periodo incorrecto o no solicitado">Venta ingresada en periodo incorrecto o no solicitado</option>
	<option value="Incumplimiento de acuerdos">Incumplimiento de acuerdos</option>
</select><br><br>
Ingresa todos los comentarios necesarios pero breves y objetivos  * : <br><br> <textarea required name="observaciones" cols="30" rows="10"></textarea>
