<h1>Sección para bajas</h1> <br><br>

Tipo de baja *: <br><br>
<select name="tipo_baja" id="tipo_baja">
	<option value="definitiva">Definitiva</option>
	<option value="temporal"> Temporal</option>
</select> <br><br>

Primer fecha cuando el alumno la solicitó *: <br><br>
<input type="date" required> <br><br>
	

Ciclo de ingreso *: <br><br>
<select required>
	<option value="Septiembre 2011 (AA012 Regular)">Septiembre 2011 (AA012 Regular)</option>
	<option value="Noviembre 2011 (AB012 Anticipada)">Noviembre 2011 (AB012 Anticipada)</option>
	<option value="Enero 2012 (AB012 Regular)">Enero 2012 (AB012 Regular)</option>
	<option value="Marzo 2012 (AC012 Anticipada)">Marzo 2012 (AC012 Anticipada)</option>
	<option value="Mayo 2012 (AC012 Regular)">Mayo 2012 (AC012 Regular)</option>
	<option value="Julio 2012 (AA012 Anticipada)">Julio 2012 (AA012 Anticipada)</option>
	<option value="Septiembre 2012 (AA013 Regular)">Septiembre 2012 (AA013 Regular)</option>
	<option value="Noviembre 2012 (AB013 Anticipada)">Noviembre 2012 (AB013 Anticipada)</option>
	<option value="Enero 2013 (AB013 Regular)">Enero 2013 (AB013 Regular)</option>
	<option value="Marzo 2013 (AC013 Anticipada)">Marzo 2013 (AC013 Anticipada)</option>
	<option value="Mayo 2013 (AC013 Regular)">Mayo 2013 (AC013 Regular)</option>
	<option value="Julio 2013 (AA014 Anticipada)">Julio 2013 (AA014 Anticipada)</option>
	<option value="Septiembre 2013 (AA014 Regular)">Septiembre 2013 (AA014 Regular)</option>
	<option value="Noviembre 2013 (AB014 Anticipada)">Noviembre 2013 (AB014 Anticipada)</option>
	<option value="Enero 2014 (AB014 Regular)">Enero 2014 (AB014 Regular)</option>
	<option value="Marzo 2014 (AC014 Anticipada)">Marzo 2014 (AC014 Anticipada)</option>
	<option value="Mayo 2014 (AC014 Regular)">Mayo 2014 (AC014 Regular)</option>
	<option value="Julio 2014 (AA015 Anticipada)">Julio 2014 (AA015 Anticipada)</option>
	<option value="Septiembre 2014 (AA015 Regular)">Septiembre 2014 (AA015 Regular)</option>
	<option value="ECD2013081">ECD2013081</option>
	<option value="ECD2014011">ECD2014011</option>
	<option value="ECD2014061">ECD2014061</option>
	<option value="ECC2014021">ECC2014021</option>
	<option value="ECC2014022">ECC2014022</option>
	<option value="ECC2014051">ECC2014051</option>
	<option value="ECC2014081">ECC2014081</option>
	<option value="ECC2014082">ECC2014082</option>
	<option value="ECC2014101">ECC2014101</option>
	<option value="ECC2014102">ECC2014102</option>
</select>
<br><br>

Indica la carrera o modalidad *: <br><br>

<select required>
	<option value="LADGE101 Administración">LADGE101 Administración</option>
	<option value="LADNE101 Administración de Negocios">LADNE101 Administración de Negocios</option>
	<option value="LADTI101 Administración de Tecnologías de &nbsp;Información">LADTI101 Administración de Tecnologías de &nbsp;Información</option>
	<option value="LADRH101 Administración en Recursos Humanos">LADRH101 Administración en Recursos Humanos</option>
	<option value="LADFI101 Administración y Finanzas">LADFI101 Administración y Finanzas</option>
	<option value="LCCGE101 Comunicación">LCCGE101 Comunicación</option>
	<option value="LCCD101 Comunicación Digital">LCCD101 Comunicación Digital</option>
	<option value="LCCOR101 Comunicación Organizacional">LCCOR101 Comunicación Organizacional</option>
	<option value="LCPGE101 Contaduría Pública">LCPGE101 Contaduría Pública</option>
	<option value="LCPFI101 Contaduría y Finanzas">LCPFI101 Contaduría y Finanzas</option>
	<option value="LDEGE101 Derecho">LDEGE101 Derecho</option>
	<option value="LDEEM101 Derecho Empresarial">LDEEM101 Derecho Empresarial</option>
	<option value="LDEIN101 Derecho Internacional">LDEIN101 Derecho Internacional</option>
	<option value="LISGE101 Ingeniería en Sistemas Computacionales">LISGE101 Ingeniería en Sistemas Computacionales</option>
	<option value="LIIGE101 Ingeniería Industrial">LIIGE101 Ingeniería Industrial</option>
	<option value="LIIAD101 Ingeniería Industrial y Administración">LIIAD101 Ingeniería Industrial y Administración</option>
	<option value="LMEGE101 Mercadotecnía">LMEGE101 Mercadotecnía</option>
	<option value="LNIGE101 Negocios Internacionales">LNIGE101 Negocios Internacionales</option>
	<option value="LPEGE101 Pedagogía">LPEGE101 Pedagogía</option>
	<option value="LPSOR101 Psicología Organizacional">LPSOR101 Psicología Organizacional</option>
	<option value="Educación continua">Educación continua</option>
	<option value="Maestría en Administración">Maestría en Administración</option>
	<option value="Maestría en educación">Maestría en educación</option>
	<option value="Global English">Global English</option>
</select> <br><br>

Tipo de jornada (Si no aplica seleccionar N/A) *: <br><br>

<select required>
	<option value="N/A">N/A</option>
	<option value="Reducida">Reducida</option>
	<option value="Completa">Completa</option>
	<option value="Intensiva">Intensiva</option>
</select> <br><br>

Edad del alumno *: <br><br>

<input type="number"> <br><br>

Género *: <br><br>

<select required>
	<option value="Masculino">Masculino</option>
	<option value="Femenino">Femenino</option>
</select> <br><br>


Estado civil *: <br><br>

<select required>
	<option value="Soltero">Soltero</option>
	<option value="Casado">Casado</option>
	<option value="Unión libre">Unión libre</option>
</select> <br><br>


País y ciudad de residencia* : <br><br>
<input type="text"> <br><br>

Porcentaje o descuento de beca *: <br><br>
<input type="text"> <br><br>


Estado actual en admisiones *: <br><br>

<select required>
	<option value="Matriculado">Matriculado</option>
	<option value="Baja Temporal">Baja Temporal</option>
	<option value="Baja definitiva">Baja definitiva</option>
	<option value="Inactivo">Inactivo</option>
	<option value="Pendiente de baja">Pendiente de baja</option>
</select> <br><br>


Motivo de la baja * : <br><br>

<select id="motivos"  onchange="changeMotivos();" required >
	<option value=""></option>
	<option value="Económicos">Económicos</option>
	<option value="Desempleo">Desempleo</option>
	<option value="Cambio de universidad o sistema">Cambio de universidad o sistema</option>
	<option value="Problemas de salud">Problemas de salud</option>
	<option value="Carga de trabajo">Carga de trabajo</option>
	<option value="Servicio deficiente del área">Servicio deficiente del área</option>
	<option value="Institucional o actividad">Institucional o actividad</option>
	<option value="Documentación (uso exclusivo de control escolar)">Documentación (uso exclusivo de control escolar)</option>
</select> <br><br>

<div id="step_2">
	
</div>
