<select required>
	<option value="No cumplió con sus expectativas">No cumplió con sus expectativas</option>
	<option value="No se acopló al estudio en línea">No se acopló al estudio en línea</option>
	<option value="Menor costo en otra universidad">Menor costo en otra universidad</option>
	<option value="Mayor equivalencia en otra universidad">Mayor equivalencia en otra universidad</option>
</select> <br><br>

 
 Ingresa todos los comentarios necesarios pero breves y objetivos  * : <br><br> <textarea required name="observaciones" cols="30" rows="10"></textarea>
 
