<select name="documentacion" required multiple>
	<option value="Sin documentos entregados">Sin documentos entregados</option>
	<option value="Sin pago reflejado y/o comprobante">Sin pago reflejado y/o comprobante</option>
	<option value="Inscripción mal procesada">Inscripción mal procesada</option>
	<option value="Aun lo estaba pensando">Aun lo estaba pensando</option>
	<option value="Deposito para 'apartar' la beca">Deposito para "apartar" la beca</option>
	<option value="En espera de Equivalencias">En espera de Equivalencias</option>
</select><span>Manten presionado Ctrl para escoger más de uno</span>
<br><br>
Ingresa todos los comentarios necesarios pero breves y objetivos * :
<br><br> <textarea required name="observaciones" cols="30" rows="10"></textarea>