<select required>
	<option value="No puede solventar los gastos de la universidad">No puede solventar los gastos de la universidad</option>
	<option value="Pérdida de apoyo financiero (personal, familiar, empresa)">Pérdida de apoyo financiero (personal, familiar, empresa)</option>
	<option value="Adeudo con UTEL">Adeudo con UTEL</option>
</select> <br><br>
Ingresa todos los comentarios necesarios pero breves y objetivos  * : 
<br><br> <textarea required name="observaciones" cols="30" rows="10"></textarea>