<select required name="institucional_o_actividad">
	<option value="Se negó a dar documentación original">Se negó a dar documentación original</option>
	<option value="Falta de ingreso al aula virtual (inactividad)">Falta de ingreso al aula virtual (inactividad)</option>
	<option value="Nunca ingresó al aula virtual">Nunca ingresó al aula virtual</option>
	<option value="Documentos rechazados">Documentos rechazados</option>
	<option value="Documentos apócrifos">Documentos apócrifos</option>
</select> <br><br>

Ingresa todos los comentarios necesarios pero breves y objetivos  * : <br><br> <textarea required name="observaciones" cols="30" rows="10"></textarea>
 
 
 
 
 
 
 
 
 
 
 
 