¿Que área o departamento es responsable del mal servicio? *
<select required>
	<option value="Ventas">Ventas</option>
	<option value="Servicios escolares">Servicios escolares</option>
	<option value="Tesorería">Tesorería</option>
	<option value="Tutores">Tutores</option>
	<option value="Asesores">Asesores</option>
	<option value="Profesores">Profesores</option>
	<option value="Recursos educativos / Contenidos">Recursos educativos / Contenidos</option>
	<option value="Soporte técnico">Soporte técnico</option>
</select> <br><br>
Ingresa todos los comentarios necesarios pero breves y objetivos  * : <br><br> <textarea required name="observaciones" cols="30" rows="10"></textarea>


 
  
 
 
 
 
 
 
 
 
 
 
 
 